---
import classNames from "classnames";
import { normalizeCmsImage } from "../../../utils/common";
import ProductFeaturesRComponent from "../react-blocks/ProductFeaturesRComponent.tsx";

const { data } = Astro.props;
---

<div>
  <ProductFeaturesRComponent client:load data={data} />
</div>
