---
import classNames from "classnames";
import { normalizeCmsImage } from "../../../utils/common";
import ProductFeaturesRComponent from "../blocks/ProductFeaturesRComponent";

const {data} = Astro.props

---


<div>
  <ProductFeaturesRComponent data={data} />
</div>