---
import { normalizeCmsImage } from "../../../utils/common";
import { RHero } from "../react-blocks/RHero";
const { blocks: data } = Astro.props;
const backgroundImage = normalizeCmsImage(data?.backgroundImage);
---

<div>
  <RHero client:load data={data} />
</div>
