---

import classNames from 'classnames';
import home_page from '../../../data/home_page.json'
import { normalizeCmsImage } from '../../../utils/common';
import RequestDemoModal from '../shared/RequestDemoModal';
const {blocks:data} = Astro.props


const backgroundImage = normalizeCmsImage(data?.backgroundImage);
---


<div>
    <div
      style={{ backgroundImage: `url(${backgroundImage?.url})`, margin: 0 }}
      class="bg-cover bg-center   bg-no-repeat bg-opacity-70 flex-1 max-h-[620px]"
    >
      <div class=" lg:h-[520px]  flex flex-col  justify-end lg:justify-center container mx-auto lg:px-10 px-5 space-y-8 py-8 lg:py-60">
        <p class="text-[2rem]   lg:text-5xl tracking-[0.02em]  leading-[42px] lg:leading-tight font-semibold text-white max-w-xs lg:max-w-[595px] mr-auto">
          {data?.Content}
        </p>
        <button
          class={classNames(
            'w-44',
            data?.Button?.theme === 'primary' && 'Button',
            data?.Button?.theme === 'secondary' && 'OutlineButton'
          )}
         
        >
          {data?.Button?.link?.label}
         
        </button>
      </div>
      <!-- <RequestDemoModal isOpen={isOpen} closeModal={() => setIsOpen(false)} /> -->
    </div>
</div>